.movingCircle {
  animation: movingCircle 7s linear infinite;
}

/* .hand-block {
  animation: block 3s linear alternate infinite;
  height: 18vw;
} */

/* .leg-block {
  animation: legblock 5s linear infinite;
} */

/* .foot-block {
  animation: footblock 3s linear infinite;
} */

.circle-initial:hover ~ .hand-block {
  animation: block 5s linear alternate infinite;
}
.circle-central:hover ~ .leg-block {
  animation: legblock 5s linear alternate infinite;
}

.circle-last:hover ~ .foot-block {
  animation: footblock 5s linear alternate infinite;
}

.first-letter__container {
  animation: first-letter__container 4s linear alternate infinite;
}

.second-letter__container {
  animation: second-letter__container 4s linear alternate infinite;
}

.third-letter__container {
  animation: third-letter__container 4s linear alternate infinite;
}

.fourth-letter__container {
  animation: fourth-letter__container 4s linear alternate infinite;
}

.fifth-letter__container {
  animation: fifth-letter__container 4s linear alternate infinite;
}

.sixth-letter__container {
  animation: sixth-letter__container 4s linear alternate infinite;
}

.seventh-letter__container {
  animation: seventh-letter__container 4s linear alternate infinite;
}

.eighth-letter__container {
  animation: eighth-letter__container 4s linear alternate infinite;
}

.ninth-letter__container  {
  animation: ninth-letter__container 4s linear alternate infinite;
}

.tenth-letter__container {
  animation: tenth-letter__container 4s linear alternate infinite;
}

.eleventh-letter__container {
  animation: eleventh-letter__container 4s linear alternate infinite;
}

.loading-first__square {
  animation: loading-first__square 5s  alternate infinite;
}

.loading-second__square {
  animation: loading-first__square 5s  alternate infinite;
}

.loading-third__square {
  animation: loading-first__square 5s  alternate infinite;
}

.error-text__about {
  animation: error-text__about 50ms  alternate infinite;
}

.squere-error {
  animation: squere-error 50ms alternate infinite;
}



@keyframes block {
  0% {
    top: 10%;
  }
  50% {
    top: 30%;
  }
  100% {
    top: 30%;
  }
}

@keyframes legblock {
  0% {
    top: 10%;
  }
  50% {
    top: 40%;
  }
  100% {
    top: 40%;
  }
}

@keyframes footblock {
  0% {
    top: 10%;
  }
  50% {
    top: 25%;
  }
  100% {
    top: 25%;
  }
}

@keyframes run {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-260%);
  }
}

@keyframes movingCircle {
  0% {
    top: 0;
    left: 0;
  }
  20% {
    top: 40%;
    left: 37%;
  }
  40% {
    top: 65%;
    left: 10%;
  }
  60% {
    top: 25%;
    left: 37%;
  }
  80% {
    top: 65%;
    left: 35%;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes first-letter__container {
  0% {
    top: 7.5%;
  }
  100% {
    top: 10%;
  }
}

@keyframes second-letter__container {
  0% {
    top: 15%;
  }
  100% {
    top: 20%;
  }
}

@keyframes third-letter__container {
  0% {
    top: 22.5%;
  }
  100% {
    top: 28%;
  }
}

@keyframes fourth-letter__container {
  0% {
    top: 33%;
  }
  100% {
    top: 38%;
  }
}

@keyframes fifth-letter__container {
  0% {
    top: 41.6%;
  }
  100% {
    top: 46%;
  }
}

@keyframes sixth-letter__container {
  0% {
    top: 51%;
  }
  100% {
    top: 55%;
  }
}

@keyframes seventh-letter__container {
  0% {
    top: 60%;
  }
  100% {
    top: 64%;
  }
}

@keyframes eighth-letter__container {
  0% {
    top: 67.5%;
  }
  100% {
    top: 74%;
  }
}

@keyframes ninth-letter__container  {
  0% {
    top: 77.3%;
  }
  100% {
    top: 82%;
  }
}

@keyframes tenth-letter__container {
  0% { transform: translatex(52%); }
  100% { transform: translatex(-80%); }
}

@keyframes eleventh-letter__container {
  0% {
    top: 93.5%;
  }
  100% {
    top: 97%;
  }
}

@keyframes error-text__about {
  0% {
    color: rgb(0, 0, 0);
  }
  100% {
    color: #9c0082;
  }
}

@keyframes loading-first__square {
  0% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: #00f772;
  }
}

@keyframes loading-second__square {
  0% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: #00f772;
  }
}

@keyframes loading-first__square {
  0% {
    background-color: rgb(0, 0, 0);
  }
  50% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: #00f772;
  }
}

@keyframes squere-error {
  0% {
    background-color: rgb(0, 0, 0);
  }
  50% {
    background-color: rgb(0, 0, 0);
  }
  100% {
    background-color: #9c0082;
  }
}