 @font-face {
    font-family: 'Eurobold';
    src: url('../fonts/europeextendedc_bold.otf') format('opentype');
    font-style: normal;
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'EuroboldItalic';
    src: url('../fonts/europeextendedc_bolditalic.otf') format('opentype');
    font-style: italic;
    font-weight: 700;
  }
  
  @font-face {
    font-family: 'EuroItalic';
    src: url('../fonts/europeextendedc_italic.otf') format('opentype');
    font-style: italic;
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Euro';
    src: url('../fonts/europeextendedc.otf') format('opentype');
    font-style: normal;
    font-weight: 400;
  }
  