body {
  background-color: black;
  font-family: "Euro";
  width: 100%;
  overflow-x: hidden;
}

.header-content {
  display: flex;
}

.running-line__text {
  font-size: 3.8vw;
  color: rgb(255, 255, 255);
}
.running-line__text > span:hover {
  color: rgb(195, 43, 226);
}

.running-line-wrapper {
  width: 100%;
  overflow: hidden;
}
.first-line {
  margin-top: 1%;
}

.container {
  width: 200vw;
}

.running-line {
  white-space: nowrap;
  animation: run 8s linear infinite;
}
.running-line:hover {
  animation-play-state: paused;
}

.main-screen {
  position: relative;
  display: flex;
  height: 80vw;
  overflow: hidden;
}
.movingCircle {
  position: absolute;
  width: 20vw;
  height: 20vw;
  background-color: #00f772;
  border-radius: 100%;
  mix-blend-mode: difference;
  z-index: 3;
}
.morphs {
  position: relative;
  width: 45%;
}

.title-text {
  font-size: 5vw;
  color: rgb(255, 255, 255);
  font-family: "Eurobold";
  margin-top: 60%;
  margin-left: 7%;
}

.human {
  width: 50%;
  position: relative;
}

.person {
  width: 55%;
  position: relative;
  margin-left: 25%;
  margin-top: 7%;
}

.circles-container {
  display: flex;
  flex-direction: column;
  margin-top: -130%;
  margin-left: 97%;
  width: 27%;
}

.circle {
  position: relative;
  background-color: #00f772;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  margin-top: 95%;
}

.block {
  background-color: rgb(0, 0, 0);
}

.foot-block {
  position: absolute;
  width: 7vw;
  height: 8vw;
  margin-left: -36%;
  margin-top: 115%;
}

.leg-block {
  position: absolute;
  width: 8vw;
  height: 21vw;
  margin-left: -64%;
  margin-top: 92%;
}

.hand-block {
  position: absolute;
  width: 7vw;
  margin-top: 48%;
  margin-left: -24%;
  rotate: -10deg;
  height: 18vw;
}

.body-parts__screen {
  position: relative;
  display: flex;
  padding: 0 2vw;
  justify-content: space-between;
}

.second-line {
  margin-top: -6%;
}

.letters-container {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 67vw;
  width: 20vw;
  background-color: #00f772;
  border-radius: 2vw;
  margin-top: 1%;
  margin-left: 2%;
}

.letters {
  position: absolute;
  font-family: "Eurobold";
  color: rgb(255, 255, 255);
  margin-top: 15%;
  margin-left: 1%;
  font-size: 6.6vw;
}

.letter-block {
  position: absolute;
  background-color: black;
}

.first-letter {
  position: absolute;
  margin-top: -10%;
  z-index: 1;
}

.first-letter__container {
  margin-top: -45%;
  height: 1.8vw;
  width: 5vw;
  z-index: 1;
}

.second-letter {
  margin-top: 100%;
  z-index: 3;
}

.second-letter__container {
  margin-top: 50%;
  height: 1.8vw;
  width: 5.2vw;
  z-index: 3;
}

.third-letter {
  position: absolute;
  margin-top: 100%;
  z-index: 3;
}

.third-letter__container {
  margin-top: 60%;
  height: 1.8vw;
  width: 5.2vw;
  z-index: 4;
}

.fourth-letter {
  position: absolute;
  margin-top: 5%;
  z-index: 4;
}

.foot {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-left: 320%;
  background-color: rgb(64, 114, 159);
  width: 150%;
  height: 110%;
  border-radius: 2vw;
  border: 2vw white;
}

.foot-picture {

}
