h1 {
    font-family:'Euro' ;
    font-size: 55px;
    color: rgb(255, 255, 255);
}

body {
    background-color: black;
}

.running-line {
    /* width: 100vw; */
    width: 1920px;
    /* height: 1.98807157%; */
    height: 100px;
}

.container {
    width: 200vw;
}